<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Music Data</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/metal.css}" href="../static/css/metal.css"/>
</head>
<body>

<h2>Music Data</h2>

<table>
    <thead>
    <tr>
        <th>Artist</th>
        <th>Title</th>
        <th>Year</th>
        <th>Record Company</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="album : ${albums}">
        <td th:text="${album.artist}">Satyricon</td>
        <td th:text="${album.title}">Nemesis Divina</td>
        <td th:text="${album.year}">2016</td>
        <td th:text="${album.company}">Moonfog</td>
        <td>
            <a th:href="@{'/update/' + ${album.idalbum}}" href="/update">Update</a>
        </td>
        <td>
            <a th:href="@{'/delete/' + ${album.idalbum}}" href="/delete">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
<div class="statistics">
    <h3>Statistik</h3>

    <p>Oldest album: <span th:text="${minYear}">MIN(year)</span></p>
    <p>Average age: <span th:text="${avgYear}">AVG(year)</span></p>
    <p>Newest album: <span th:text="${maxYear}">MAX(year)</span></p>
</div>
<div class="statistics">
    <h3>Create new album</h3>
    <a href="/create">Click to create new album</a>
</div>
</body>
</html>
